amqp==5.0.5
billiard==3.6.3.0
celery==5.0.5
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==7.1.2
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.1.6
cryptography==3.4.6
Django==1.11.11
django-cors-headers==2.2.0
django-crontab==0.7.1
django-filter==2.2.0
django-haystack==2.7.0
django-redis==4.10.0
djangorestframework==3.10.2
djangorestframework-jwt==1.11.0
dnspython==1.16.0
elasticsearch==2.4.1
eventlet==0.30.2
fdfs-client-py @ file://../meiduo_mall/Libs/fdfs_client-py-master-linux.zip
greenlet==1.0.0
idna==2.10
importlib-metadata==3.7.3
itsdangerous==1.1.0
Jinja2==2.11.3
kombu==5.0.2
MarkupSafe==1.1.1
mutagen==1.45.1
Pillow==8.1.2
prompt-toolkit==3.0.17
pycparser==2.20
pycryptodomex==3.9.4
PyJWT==1.7.1
PyMySQL==1.0.2
pyOpenSSL==19.1.0
python-alipay-sdk==3.0.1
pytz==2021.1
QQLoginTool==0.3.0
redis==3.5.3
requests==2.25.1
six==1.15.0
typing-extensions==3.7.4.3
urllib3==1.26.3
vine==5.0.0
wcwidth==0.2.5
zipp==3.4.1
